apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: woorkroom-ingress
  namespace: woorkroom
spec:
  rules:
    - host: api.woorkroom.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gateway
                port:
                  number: 80
