apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: woorkroom
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: 786998285740.dkr.ecr.us-east-1.amazonaws.com/woorkroom-gateway:latest
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: woorkroom-config
            - secretRef:
                name: woorkroom-secrets
