apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: woorkroom
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: 786998285740.dkr.ecr.us-east-1.amazonaws.com/woorkroom-users:latest
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: woorkroom-config
            - secretRef:
                name: woorkroom-secrets
